<app-comments></app-comments>
<app-comment-form></app-comment-form>

<!-- <ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.name}}
    </li>
</ul> -->

    








<!-- <ol>
    <li *ngFor="let comment of comments">
      Comments:  {{comment.comment}}
        <br><br>
      Author:  {{comment.author}}
      <br><br>
    </li>
</ol>
    <input type="text" placeholder="Comments" [(ngModel)]="formComment">
    <input type="text" placeholder="Author" [(ngModel)]="formAuthor">
    <input (click)="postComment()" type="submit">
<br><br><br>
    <input type='text' placeholder="Delete by Number" [(ngModel)]="deleteComment">
    <input (click)="deleteBlog()" type="submit" value="delete"> -->